<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>no idea</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="shortcut icon" href="images/fluidicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        Header
    </header>
    <section>
        <div id="menu">menu</div>
        <div id="center">
            <div id="together">
                <div id="left">left</div>
                <div id="right">right</div>
            </div>
            <div id="main">main</div>
            <div id="grow">
                <div id="footer">
                    <div id="b">footer</div>
                    <div id="cd">
                        <div id="c">foter</div>
                        <div id="d">back</div>
                    </div>
                </div>
                <div id="a">end</div>
            </div>
        </div>
        </div>
        </div>
    </section>
</body>

</html>