* {
    direction: ltr;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    padding: 5px;
    border: 2px solid lightblue;
    text-align: center;

}

section>div {
    float: left;
    border: 2px solid lightblue;

}

div#menu {
    width: 20%;
    height: 265px;
    text-align: center;
    border-right: none;
    border-top: none;


}

div#center {
    width: 80%;
}

div#together>div {
    float: left;
    padding: 30px;

}

div#left {
    width: 80%;
    border: 2px solid lightblue;
    text-align: center;
    border-left: none;
    border-top: none;



}

div#right {
    width: 20%;
    border: 2px solid lightblue;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;



}

div#main {
    text-align: center;
    width: 100%;
    padding: 20px;
    border: 2px solid lightblue;
    border-left: none;
    border-right: none;
    border-top: none;
}

div#f {
    width: 50%;
    float: left;
}

div#a {
    width: 50%;
    padding: 60px;
    border: 2px solid lightblue;
    float: left;
    text-align: center;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

div#b {
    padding: 8px;
    border: 2px solid lightblue;
    text-align: center;
    clear: left;
    border-left: none;
    border-right: none;
    border-top: none;
}

div#cd {
    text-align: center;
}

div#d {
    border: 2px solid lightblue;
    float: left;
    width: 50%;
    height: 105px;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

div#c {
    border: 2px solid lightblue;
    float: left;
    width: 50%;
    height: 105px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
}